body {
    background-color: #333;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

.text h1 {
    color: #fff;
    font-family: monospace;
    letter-spacing: 7px;
    /* Khong xuong dong */
    white-space: nowrap;
    overflow: hidden;
    border-right: 5px solid orange;
    /* animation: typing 2s step(so chu cai) 1; */
    animation: typing 2s steps(14) 1,
        caret 0.5s steps(2) infinite;
}

@keyframes caret {
    from {
        border-color: transparent;
    }

    to {
        border-color: orange;
    }
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}